/*.gif-background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #DBE2E2;
}*/

.input-group {
  margin-bottom: 20px;
  flex-direction: row;
}

.gif-field {
  width: 300px;
  height: 40px;
  border: 2px solid #D3D6D8;
  margin-right: 20px;
}

.add-btn {
  width: 80px;
  height: 40px;
  border: 2px solid #D3D6D8;
}
