.gif-box-wrapper {
  background: url(https://media.giphy.com/media/fvduPgr6yVthm/giphy.gif?response_id=592478c944d6fe49dc561dae);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a:visited {
  color: black;
}

a {
  cursor: pointer;
}

.party-btn:hover {
  background-color: black;
  color: white;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

}
